* {
    font-family: 'Open Sans', sans-serif;
}

header.bg-success.text-center.py-3 {
    background-color: #006fb4 !important;
}

#search-btn {
    background-color: #006fb4;
    border-radius: 5px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 2.5);
}

.current-weather.bg-success.text-white {
    background-color: #006fb4 !important;
}

.current-weather img {
    max-width: 120px;
    margin-top: -15px;
}

.card-body {
    background-color: #349ddf;
    color: #ffffff; 
    border-radius: 5px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 2.5);
}

.card-text {
    color: #ffffff; 
}

.current-weather.bg-success {
    color: #ffffff;
    background-color: #349ddf !important;
    border-radius: 5px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 2.5);
}

/* current weather box */
.current-weather h6 {
    color: #ffffff;
    font-size: 30pt;
}
